PGrid/Bin/
PGrid/obj/
PGrid.Web/bin/
PGrid.Web/obj/
PGrid.Web/ClientBin/
PlatformClient/bin/
PlatformClient/obj/
PlatformClient.Common/Bin/
PlatformClient.Common/obj/

PlatformClient.CompositeCtrl/Bin/
PlatformClient.CompositeCtrl/obj/

PlatformClient.CompositeCtrl.Chat/Bin/
PlatformClient.CompositeCtrl.Chat/obj/


PlatformClient.DataBaseDesign/Bin/
PlatformClient.DataBaseDesign/obj/

PlatformClient.EventDesign.Activity/Bin/
PlatformClient.EventDesign.Activity/obj/

PlatformClient.EventDesign.Core/Bin/
PlatformClient.EventDesign.Core/obj/

PlatformClient.Extend.Core/Bin/
PlatformClient.Extend.Core/obj/

PlatformClient.Model/Bin/
PlatformClient.Model/obj/

PlatformClient.PageDesignTime/Bin/
PlatformClient.PageDesignTime/obj/

PlatformClient.PageDesignTime.Controls/Bin/
PlatformClient.PageDesignTime.Controls/obj/

PlatformClient.PageRuntime/Bin/
PlatformClient.PageRuntime/obj/

PlatformClient.PlatformLogon/Bin/
PlatformClient.PlatformLogon/obj/

PlatformClient.PropertyGrid/Bin/
PlatformClient.PropertyGrid/obj/


PlatformClient.Selectors.Core/Bin/
PlatformClient.Selectors.Core/obj/

PlatformClient.Utility/Bin/
PlatformClient.Utility/obj/

PlatformService/bin/
PlatformService/obj/

PlatformService.Database/bin/
PlatformService.Database/obj/

PlatformService.Model/bin/
PlatformService.Model/obj/

PlatformService.Utility/bin/
PlatformService.Utility/obj/
