<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="MySqlConnection" connectionString="host=192.168.3.66;database=db_system_platform;uid=liaohb;pwd=xiaotuni;charset=gb2312" />-->
    <!--<add name="MySqlConnection" connectionString="6YQvh/VzeemJK41k3uOFpgr1tVLKdSbcK+8AliihcE3ijEouQY8IjdvF2iZzSyMsfEEy9cVlExytVonYXKPkc9L5VTyLdSyV/7uOg7QlhgkN7xN79xNm/iwnuiT4sZ58" />-->
    <!--<add name="MySqlConnection" connectionString="host=localhost;database=db_system_platform;uid=liaohb;pwd=xiaotuni;charset=gb2312" />-->
    <add name="MySqlConnection" connectionString="1ALbyHs0lN+kInlzdpdXuW/U/Iwfg9gusSkMgTnVsg768rWNT3bhQz4FA/pzyfEdSK2LxcseDhuZvDCNJxMVz+Kr7DHeMY7lAsYLQuDUReEclvy6zDx4Wo/JUJx9V+tq" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPlatformService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>

      <pollingDuplexHttpBinding>
        <binding name="multipleMessagesPerPollPollingDuplexHttpBinding" duplexMode="MultipleMessagesPerPoll" maxOutputDelay="00:00:00">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </pollingDuplexHttpBinding>

    </bindings>

    <services>
      <service name="PlatformService.PlatformChat">
        <!-- Service Endpoints -->
        <endpoint address="" contract="PlatformService.IPlatformChat" binding="pollingDuplexHttpBinding" bindingConfiguration="multipleMessagesPerPollPollingDuplexHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name ="PlatformService.PlatformService">
        <endpoint address="" contract="PlatformService.IPlatformService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlatformService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
    </services>



    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />　
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <bindingExtensions>
        <add name="pollingDuplexHttpBinding"
             type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement,
                   System.ServiceModel.PollingDuplex, 
                   Version=4.0.0.0, 
                   Culture=neutral, 
                   PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>